.container {
  width: 320px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;

  @include tablet-and-up {
    width: $breakpoint-tablet;
    padding: 32px 32px 0 32px;
  }

  @include desktop {
    width: $breakpoint-desktop;
  }

  &--footer-padding {
    padding-block: 28px;

    @include tablet-and-up {
      padding-block: 30px;
    }
  }

  &--hero-padding {
    padding-bottom: 40px;

    @include tablet-and-up {
      padding-bottom: 60px;
    }
  }
}
