<div class="auth-form">
  <div class="auth-form__head">
    <h2 class="auth-form__title">Register / Sign In</h2>
  </div>

  <div class="auth-form__providers">
    <ul class="auth-form__list">
      <li class="auth-form__list-item">
        <a
          class="header-btn auth-form__button auth-form__button--black"
          href="#"
          >Github</a
        >
      </li>
      <li class="auth-form__list-item">
        <a class="header-btn auth-form__button auth-form__button--red" href="#"
          >Google</a
        >
      </li>
    </ul>
  </div>

  <form class="auth-form__form">
    <div class="auth-form__wrapper">
      <input
        class="auth-form__input"
        type="email"
        name="email"
        placeholder="Email"
        required
      />
      <input
        class="auth-form__input"
        type="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <button class="header-btn auth-form__button" type="submit">Enter</button>
  </form>
</div>
