<!-- <div class="auth-menu auth-menu--hidden"></div> -->
<div class="auth-menu auth-menu--hidden">
  <div class="auth-menu__container">
    <button
      class="header-nav__link header-nav__button auth-menu-button auth-menu-button--close"
    >
      <svg class="header-nav__icon" width="32" height="32">
        <use href="./images/icons.svg#icon-close-black"></use>
      </svg>
    </button>

    <div class="auth-menu__wrapper">
      <include src="./partials/authentication/_auth-form.html"></include>
    </div>
  </div>
</div>
