.auth-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-image: linear-gradient(
    75deg,
    rgba(0, 0, 0, 0.5) 9%,
    rgba(0, 0, 0, 0.7) 100%
  );
  border-radius: 15px;

  transition: transform $transition-duration $transition-timing-function;

  &--hidden {
    transform: translateX(100%);
  }
}

.auth-menu__container {
  position: relative;

  width: 100%;
  height: 100%;

  padding: 60px 14px 24px;

  @media screen and (min-width: $breakpoint-tablet) {
    padding: 16px 100px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    padding-inline: 75px;
  }
}

.auth-menu__content {
  width: 100%;
  height: 100%;

  background-color: transparent;
  perspective: 1000px;
}

.auth-menu__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform $transition-duration $transition-timing-function;
  transform-style: preserve-3d;

  &--flipped {
    transform: rotateY(180deg);
  }
}

.auth-menu__button--close {
  position: absolute;

  top: 14px;
  right: 14px;

  @media screen and (min-width: $breakpoint-tablet) {
    top: 16px;
    right: 16px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    top: 16px;
    right: 32px;
  }
}

.auth-menu__flipper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.auth-menu__head {
  text-align: center;
}

.auth-menu__title {
  margin-bottom: var(--elements-gap);

  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  color: $color-text-white;
}
