<!-- header -->
<!-- <header class="header"> -->

<!-- main nav home-->
<div class="header__container">
  <include src="./partials/authentication/auth-menu.html"></include>

  <div class="header__box-nav">
    <!-- !!! Обгортка для позиціонування блоків в My library для таблет і десктоп -->
    
    <!-- nav-list  -->
    <nav class="header-nav" data-menu>
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a
            id="nav-link-home"
            class="header-nav__link header-nav__link--current default-btn"
            href="#"
            >Home</a
          >
        </li>
        <li class="header-nav__item">
          <a id="nav-link-library" class="header-nav__link default-btn" href="#"
            >My library</a
          >
        </li>
        <li class="header-nav__item">
          <button
            class="header-nav__link header-nav__button default-btn auth-menu__button auth-menu__button--open"
          >
            <svg class="header-nav__icon" width="23" height="23">
              <use href="./images/icons.svg#icon-person"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul
        class="header-nav__sub-menu visibility-hidden"
        id="tablet-sub-menu"
      >
        <li class="header-nav__item header-nav__item--margin">
          <input type='radio' name='tabletBtn' value="watched" checked id='3'>
          <label class='default-btn header-btn' for='3'>watched </label>
        </li>
        <li class="header-nav__item header-nav__item--margin">
          <input type='radio' name='tabletBtn' value="queue" id='4'>
          <label for='4' class='default-btn header-btn '>queue </label>
        </li>
      </ul>
    </nav>

    <!-- Serch box -->
    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
        autocomplete="off"
        required
      />

      <button
        class="button search-form__btn"
        type="submit"
        aria-label="search"
      >
        <svg class="search-form__icon" width="14" height="14">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>

  <div class="header__box-bottom box">
    <!-- !!! Обгортка для позиціонування блоків в My library для мобільних -->
    <!-- logo -->
    <div class="logo-wrap--no-margin">
      <a href="" class="logo-link">
        <svg class="logo__icon" width="32" height="32">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <h1 class="logo__txt">Filmoteka</h1>
      </a>
    </div>

    <!-- user`s library   visually-hidden-->
    <ul
      class="header-nav__sub-menu visibility-hidden"
      id="mobile-sub-menu"
    >
      <li class="header-nav__item header-nav__item--margin">
          <input type='radio' name='mobileBtn' value="watched" checked id='1'>
          <label class='default-btn header-btn' for='1'>watched </label>
      </li>
      <li class="header-nav__item header-nav__item--margin">
        <input type='radio' name='mobileBtn' value="queue" id='2'>
        <label for='2' class='default-btn header-btn'>queue </label>
      </li>
    </ul>
  </div>
</div>
