<div class="placeholder-library visibility-hidden">
  <img
    class="placeholder-library__image"
    src="./images/placeholders/library-placeholder.webp"
    alt="Oops, no movies added yet"
  />
  <img
    class="placeholder-library__popcorn-image"
    src="./images/placeholders/sad-popcorn-placeholder.webp"
    alt="Oops, no movies added yet"
  />
  <p class="placeholder-library__text">Oops, no movies added yet</p>
</div>
<ul class="movie__list">
  <!-- рендер карточек сюда -->
</ul>
<div id="tui-pagination-container" class="tui-pagination"></div>
