<div class="placeholder-library visibility-hidden">
  <img
    class="placeholder-library__image"
    src="./images/placeholders/library-placeholder.webp"
    alt="Oops, no movies added yet"
  />
  <img
    class="placeholder-library__popcorn-image"
    src="./images/placeholders/sad-popcorn-placeholder.webp"
    alt="Oops, no movies added yet"
  />
  <p class="placeholder-library__text">Oops, no movies added yet</p>
</div>

<div class="loader">
  <div class="loader__container">
    <div class="loader__film">
      <img class="loader__film-img" src="./images/film_red.png" alt="" />
      <img class="loader__film-img" src="./images/film_red.png" alt="" />
    </div>
    <img class="loader__camera" src="./images/camera_red.png" alt="" />
  </div>
</div>

<ul class="movie__list">
  <!-- рендер карточек сюда -->
</ul>
<div id="tui-pagination-container" class="tui-pagination"></div>
