//стилі для мобільної версії // початок
.box {
  @include mobile-only {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

//загальні стилі
.header-btn {
  border-style: none;
  
  color: $bg-color-accent;
  background-color: $color-text-white;
    
  transition: color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function,
    transform $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    //color: $color-text-white;
    //background-color: $bg-color-accent;
    transform: scale(0.95);
  }
}

.header-btn:first-child {
  margin-right: 4px;

  @include desktop {
    margin-right: 8px;
  }
}

.header-btn--current {
  background-color: $bg-color-accent;
  color: $color-text-white;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);

}

//загальні стилі для кнопки
.default-btn {

  justify-content: center;
  align-items: center;

  height: 34px;
  padding: 10px 23px;
  border-radius: 100px;
  line-height: 1.17;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  @include tablet-only {
    height: 38px;
    padding: 12px 23px;
    align-items: center;
  }

  @include desktop {
    height: 42px;
    padding: 14px 24px;
    align-items: center;
  }
}


