.basicLightbox {
  overflow: scroll;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  margin-bottom: 50px;
  margin-top: 200px;
  background-color: $bg-color-primary;
  border-radius: 15px;
}

.team-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: calc((100% - 30px) / 3);
}

.team-image {
  margin-top: 10px;

  width: 100%;

  border-radius: 50%;
}

.team-name {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 900;
}

.team-role {
  margin-top: 5px;
  color: $bg-color-accent;
}
.team-modal {
  text-decoration: underline;

  cursor: pointer;
}

.icon-github {
  position: absolute;
  top: 60px;
  right: -17px;
  color: black;
  width: 25px;

  &:hover,
  &:focus {
    fill: $bg-color-accent;
  }
}
