.placeholder-library__image {
  border-radius: 15px;
  opacity: 0;
  filter: grayscale(0%);
  transition: opacity 700ms ease-in-out, filter 2000ms ease-in-out;

  min-width: 280px;

  @include tablet-and-up {
    min-width: 704px;
  }

  @include desktop {
    max-width: 1216px;
  }

  &.loaded {
    opacity: 0.5;
    filter: grayscale(60%);
  }
}

.placeholder-library {
  position: relative;
  display: flex;
  justify-content: center;
}

.placeholder-library__popcorn-image {
  position: absolute;
  top: 75%;
  left: 75%;
  filter: grayscale(100%);
  transform: translate(-75%, -75%) scale(0);
  transition: transform 2000ms, filter 2000ms ease-in-out;

  &.loaded {
    transform: translate(-30%, -45%) scale(0.5);
    filter: grayscale(0%);

    @include tablet-and-up {
      transform: translate(-10%, -25%) scale(1);
    }

    @include desktop {
      transform: translate(10%, -25%) scale(1.5);
    }
  }

}

.placeholder-library__text {
  position: absolute;
  top: 35%;
  color: $color-text-primary;
  font-size: 20px;
  text-shadow: 2px 2px 5px $color-text-footer;

  @include tablet-and-up {
    font-size: 30px;
  }

  @include desktop {
    font-size: 38px;
  }
}




