//загальні стилі на хедер// позиціонування
header {
  min-width: 320px;
  min-height: 230px;
}

.header__container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 280px;
  min-height: 460px;
  padding: 14px 14px 24px;

  overflow: hidden;

  background-image: linear-gradient(
      75deg,
      rgba(0, 0, 0, 0.1) 9%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url('../images/hero_mob_red@1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 15px; //10px

  //для респонсивних фонових зображень
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        75deg,
        rgba(0, 0, 0, 0.1) 9%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url('../images/hero_mob_red@2x.webp');
  }

  @include tablet-only {
    min-width: 704px;
    min-height: 222px;
    padding: 16px;

    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 2%,
        rgba(0, 0, 0, 0.4) 60%
      ),
      url('../images/hero-bg-tabl@1x.webp');

    //для респонсивних фонових зображень
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 2%,
          rgba(0, 0, 0, 0.4) 60%
        ),
        url('../images/hero-bg-tabl@2x.webp');
    }
  }

  @include desktop {
    max-width: 1216px;
    min-height: 316px;
    padding: 16px 32px;

    background-image: linear-gradient(
        204deg,
        rgba(0, 0, 0, 0.1) 2%,
        rgba(0, 0, 0, 0.3) 60%
      ),
      url('../images/hero_desk_red@1x.webp');

    //для респонсивних фонових зображень
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          204deg,
          rgba(0, 0, 0, 0.1) 2%,
          rgba(0, 0, 0, 0.3) 60%
        ),
        url('../images/hero_desk_red@2x.webp');
    }
  }
}

//Навігація
.header__box-nav {
  @include tablet-and-up {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  transition: transform $transition-duration $transition-timing-function;

  &--hidden {
    transform: translateY(-150px);
  }
}

.header__box-bottom {
  transition: transform $transition-duration $transition-timing-function;

  &--hidden {
    transform: translateY(150px);
  }
}

.header-nav {
  margin-bottom: 8px;

  &__list {
    display: flex;
  }

  &__item:first-child {
    margin-right: 4px;
  }

  &__item:last-child {
    margin-left: 4px;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    flex-grow: 2;

    &__item:last-child {
      margin-left: auto;
    }
  }
}

.header-nav__link {
  display: flex;
  justify-content: center;

  padding: 10px 22px;

  line-height: 1.17;

  /* font-size: 12px;
  font-weight: 500;
  font-style: normal; */

  background-color: $color-text-white;
  color: $color-text-primary;
  border-radius: 100px;
  min-width: 87px;
  text-transform: uppercase;

  transition: color $transition-duration $transition-timing-function,
    background-color $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    background-color: $color-text-white;
    color: $bg-color-accent;
  }

  @include tablet-only {
    height: 38px;
    padding: 12px 20px;
    align-items: center;
  }

  @include desktop {
    height: 42px;
    padding: 14px 24px;
    align-items: center;
  }
}

.header-nav__link--current {
  background-color: $color-text-primary;
  color: $color-text-white;
}

.header-nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  min-width: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  --color1: #000;
  --color2: #000;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 38px;
    width: 38px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    height: 42px;
    width: 42px;
  }
}

//Форма пошуку
.search-form {
  position: relative;
  width: 235px;
  height: 34px;

  margin-left: 0;
  margin-right: 0;

  @include tablet-only {
    width: 165px;
    height: 38px;
    margin-right: 4px;
  }

  @include desktop {
    width: 187px;
    height: 42px;
    margin-right: 8px;
  }
}

.search-form__input {
  max-width: 235px;
  width: 100%;

  border-style: none;
  border-radius: 100px;
  padding: 10px 14px;

  @include tablet-only {
    max-width: 165px;
    height: 38px;
    padding: 11px 16px;
  }

  @include desktop {
    max-width: 187px;
    height: 42px;
    padding: 13px 16px;
  }
}

.search-form__input:focus-visible,
.search-form__btn:focus-visible {
  outline: none;
}

.search-form__btn {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-98%, -100%);

  height: inherit;
  padding: 10px;
  cursor: pointer;
  border-style: none;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: $color-text-white;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-form__icon {
  transform: scale(1);
  transition: transform $transition-duration $transition-timing-function;

  .search-form:hover &,
  .search-form:focus & {
    transform: scale(1.5);
  }
}

//Logo
//
/* .logo-wrap--no-margin {
  @media screen and (max-width: 767px) {

    display: inline-block;
  }
} */

.logo-link {
  height: 38px;
  display: flex;

  justify-content: center;
  align-items: center;

  @include tablet-and-up {
    display: inline-flex;
  }
}

.logo__icon {
  width: 32px;
  height: 32px;

  @include tablet-only {
    width: 40px;
    height: 40px;
  }

  @include desktop {
    width: 59px;
    height: 59px;
  }
}

.logo__txt {
  width: 150px;
  height: 38px;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;

  margin-left: 8px;
  display: flex;
  align-items: center;
  text-align: center;

  color: $color-text-white;

  @include tablet-only {
    font-size: 40px;
    line-height: 1.17;
  }

  @include desktop {
    font-size: 64px;
  }
}
